<h1> Hey there! Welcome to your first ruby on rails app! </h1>
<%= 'this is a sample text here' %> <!-- This will appear on the HTML page as it is rendered by ruby --> 
<% 'Yoyo' %> <!-- This will NOT appear on the HTML page as it is not rendered by ruby -->
